/* 默认字体微软雅黑 */
a,p,span,div,h1,h2,h3,.common{
  font-family: '微软雅黑' !important;
}
/* 公共的盒子 版心 */
.common{
  width: 1200px;
  margin: 0px auto;
  height: auto;
}
/* 清除浮动 */
.common::after{
  content: '';
  display: block;
  clear: both;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/* 清除浮动结束 */
.syh-lunbotu-changkou{
  width: 1903px;
  position: relative;
  overflow: hidden;
  background-color: #24133d;
}
.top-lunbotu{
  width: calc(1903px * 5);
  height: 380px;
  padding-top: 100px;
  position: relative;
  left: -1903px;
}
.top-lunbotu>div{
  float: left;
  width:1903px;
  height: 380px;
  box-sizing: border-box;
  background-size: cover;
}
.lunbotu-1{
  background-image: url("../../images/syh/syh-top-lb-img1.png");
}
.lunbotu-2{
  background-image: url("../../images/syh/syh-top-lb-img2.png");
}
.lunbotu-3{
  background-image: url("../../images/syh/syh-top-lb-img3.jpg");
}
/* 图片上面的文字 */
.top-lunbotu .common{
  padding-top: 103px;
}
.top-lunbotu .one-p{
  font-size: 40px;
  line-height: 50px;
  height: 50px;
  color: #fff;
}
.top-lunbotu .two-p{
  margin-top: 15px;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}
.top-lunbotu .three-a{
  display: inline-block;
  width: 120px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  margin-top: 41px;
  transition: 0.3s;
}
.top-lunbotu .three-a:hover{
  background-color: #fff;
  color: #000;
  transition: all .3s;
}
/* 小点导航 */
.xiaodian-nav{
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 0px;
}
.xiaodian-nav>i{
  display: inline-block;
  width: 26px;
  height: 4px;
  background-color: #a1a1a3;
  margin: 0px 3px;
  cursor: pointer;
}
/* 小点点击类名 */
.xiaodian-iClick{
  background: white !important;
}
/* 轮播图文字区块 */
.senzi-qukuai{
  height: 80px;
  background-color: #0f1d3d;
}
.senzi-qukuai>div>div{
  float: left;
  padding: 0px 10px;
  width: 300px;
  height: 60px;
  box-sizing: border-box;
}
.senzi-qukuai a{
  display: block;
  margin-top: 20px;
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  border-left: 1px solid #3f4a63;
  padding-left: 36px;
}
.senzi-qukuai-last-a{
  border-right: 1px solid #3f4a63;
}
/* 文字 */
.list-t{
  height: 17px;
  line-height: 17px;
  font-size: 16px;
  color: #d6d9de;
}
.list-b{
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  margin-top: 9px;
  color: #7c8395;
}
/* 数据智能区块 */
.shujvGengZhineng{
  background-color: white;

}
.sjzn-biaoti{
  font-size: 36px;
  color: #565656;
  text-align: center;
  letter-spacing: .77px;
  line-height: 72px;
  margin: 0;
  padding: 70px 0 60px;
  min-width: 800px;
}
/* 动态精灵图区域 */
.common.jlt>div{
  width:33.33333%;
  float: left;
  height: 203px;
  line-height: 30px;
  cursor: pointer;
}
.common.jlt>div>p{
  color: #565656;
  font-size: 22px;
  padding-top: 17px;
  padding-bottom: 16px;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.common.jlt>.jltClick>p{
  color: #347dff;
}
.dasanjiao{
  width: 30px;
  height: 30px;
  margin: 0px auto;
  display: none;
}
.jltClick .dasanjiao{
  display: block;
}
.common.jlt .jlt-img{
  width: 100px;
  height: 100px;
  margin: 0 auto 14px;
  overflow: hidden;
}
.common.jlt>div>div{
  background-repeat: no-repeat;
  background-position-x: 0px;
}
.jlt1>.jlt-img{
  background-image: url("../../images/syh/syh-liandong-jlt1.png");
}
.jlt2>.jlt-img{
  background-image: url("../../images/syh/syh-liandong-jlt2.png");
}
.jlt3>.jlt-img{
  background-image: url("../../images/syh/syh-liandong-jlt3.png");
}
/* tab切换区域 精灵图下面 */
.jltTab{
  background-color: #f6f6f6;
}
.jltTab>div{
  box-sizing: border-box;
  display: none;
  margin-top: -3px;
}
.jltTab-1{
  height: 868px;
  padding-bottom: 20px;
}
.jltTab-2{
  height: 316px;
}
.jltTab-3{
  height: 188px;
}
.jltTab-block{
  display: block !important;
}
.ljt-tab-title{
  font-size: 22px;
  text-align: center;
  color: #565656;
  padding: 45px 0 30px;
}
/* 人工智能上 */
.ljt-top>div{
  width: 25%;
  float: left;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0px 10px;
}
.lij-top-295-310{
  height: 310px;
}
.lij-top-295-102{
  height: 102px;
}
.lij-top-295-60{
  height: 60px;
}
.ljt-top>div>div{
  padding: 0px 20px;
  height: 100%;
  background-color: white;
}
.lij-top-p{
  padding: 14px 0 8px;
  font-size: 16px;
  color: #565656;
  font-weight: 700;
}
.lij-top-span{
  height: 26px;
  display: block;
  padding: 6px 6px 0;
  padding-left: 26px;
  font-size: 14px;
  color: #818181;
  line-height: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.W-38-16{
  width: 38px;
  height: 16px;
}
/* tab切换第二部分 */
.jltTab-2>.common{
  padding-top: 60px;
  padding-bottom: 30px;
}
.tab2-box{
  width: 50%;
  padding: 0px 10px;
  height: 196px;
  float: left;
  box-sizing: border-box;
}
.bos-s{
  box-shadow: 2px 4px 6px 3px rgba(0,0,0,.11);
}
.tab2-box a{
  font-size: 16px;
  color: #949494;
  line-height: 20px;
  display: block;
  height: 43px;
  padding-left: 50px;
}
.tab2-box a:hover{
  color: #347dff;
}
.center{
  height: 141px;
  padding: 20px 20px;
  background-color: white;
  box-sizing: border-box;
}
.biaoti{
  color: #3d3d3d;
  text-align: left;
  font-size: 20px;
  line-height: 33px;
  font-weight: 700;
  padding: 10px 0 11px 50px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}
/* 第三部分 */
.jltTab-3>div{
  padding-top: 65px;
  padding-bottom: 30px;
}
.jltTab-3>div>div{
  width: 20%;
  padding: 0px 10px;
  float: left;
  box-sizing: border-box;
}
.tab3-title{
  background-color: #fff;
  padding: 10px 0 10px 17px;
  height: 43px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #565656;
  cursor: pointer;
}
/* .清除右边的默认样式 */
.right-p-m-none,.left-p-m-none{
  margin-right: 0px !important;
  padding-right: 0px !important;
}
.tab-title-xiao-img{
  width: 25px;
  height: 25px;
  vertical-align:middle;
}
.aliy-slt-img{
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
.aliy-slt-img1.no{
  width: 22px;
  height: 22px;
}



