.syh-top-nav{
  background-color: #383d41;
}
/* 顶部图片 */
.ads-top{
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
  color: #fff;
  background: url("../../images/syh/syh-sjzn/ads-top-img.png") center 102px no-repeat;
  background-size: 1920px 380px;
  background-position-y:100px; 
}
.ads-top-title{
  position: relative;
  overflow: hidden;
  height: 42px;
  width: 100%;
  font-size: 42px;
  line-height: 42px;
  margin-top: 115px;
  text-align: center;
  letter-spacing: 2px;
}
.ads-top-two{
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;
}
.ads-top-cent{
  position: relative;
  overflow: hidden;
  width: 305px;
  height: 36px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.ads-top-cent>.left{
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  width: 143px;
  height: 34px;
  background: linear-gradient(90deg,#ffb82e,#ff831e);
  font-size: 16px;
  line-height: 34px;
  color: #fff;
}
/* 公共区域 */
.ads-img-common{
  position: relative;
  overflow: hidden;
  width: 1200px;
  margin: auto;
  margin-top: 62px;
  background: #26292E;
}
.ads-top-cent>.right{
  position: relative;
  overflow: hidden;
  display: block;
  float: right;
  width: 143px;
  height: 34px;
  box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
}
/* 文字区域 */
.ads-wenz{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://img.alicdn.com/tfs/TB1dTUpsxjaK1RjSZFAXXbdLFXa-1920-93.png) top no-repeat;
  background-size: 1920px 93px;
}
.ads-wenz>.content{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 1075px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* 图片结束区域 */
.ads-bottom-img{
  width: 100%;
  height: 2135px;
  background-color: #171719;
}
.ads-bottom-bg{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 2135px;
  padding-bottom: 62px;
  background: url("../../images/syh/syh-sjzn/syh-bottom-out-bg.jpg") center top no-repeat;
  background-size: 1862px 2138px;
  box-sizing: border-box;
}
/* 类似区块结束部分 */
/* 渐变边框 */
.common-top-border{
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg,#04beef,#017aed),linear-gradient(#26292e,#26292e);
}
.common-coet{
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../../images/syh/syh-sjzn/syh-bg.png") 50% no-repeat;
  background-size: 1200px 448px;
}
.coet-jies{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 100%;
}
.jies-title{
  position: relative;
  width: 335px;
  font-size: 24px;
  color: #fff;
  margin-bottom: 14px;
}
.wenz-p{
  position: relative;
  width: 356px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.wenz-p>span{
  color: #ffba00;
  font-size: 16px;
}