@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  transition: color 0.2s;
  color: white;
}
a:hover{
  color: #00c1de;
}
body{
  height: 4000px;
}
/* 顶部高度 宽度自动 */
.syh-top-nav{
  height: 100px;
  border-bottom: 1px solid #2b2f33;
  box-sizing: border-box;
  transition: background-color 0.5s;
  /* background-color: #1c2327; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-family: '微软雅黑';
  font-size: 14px !important;
  z-index: 10;
}
.syh-top-nav:hover{
  background-color: #1c2327;
  border-bottom: none;
}
.syh-nav-top{
  height: 50px;
  border-bottom: 1px solid #2b2f33;
  box-sizing: border-box;
}
.syh-left{
  width: 160px;
  height: 50px;
  float: left;
}
.syh-list{
  width: 50px;
  height: 50px;
  background: url(../../images/Common/list-img.png) no-repeat 15px 18px;
  background-size: 18px;
  border-right: 1px solid #2b2f33;
  float: left;
  position: relative;
}
.syh-list:hover>.syh-list-xiala{
  left: 0px;
}
.syh-list-xiala{
  position: absolute;
  top: 50px;
  left: -200px;
  padding: 15px;
  padding-right: 0px;
  width: 200px;
  height: 890px;
  background-color: #272b2e;
  box-sizing: border-box;
  transition: left 0.4s;
  z-index: 10;
}
.syh-list-xiala>*{
  color: #d8dcdd;
  font-size: 14px;
}
.syh-list-xiala>span{
  display: block;
  width: 135px; ;
  padding: 10px 0px;
  cursor: pointer;
}
.syh-list-xiala>span:hover{
  color: #00c1de;
}
.syh-list-xiala>span::after{
  content: '';
  display: block;
  float: right;
  width: 12px;
  height: 12px;
  background: url('../../images/Common/syh-fxiang.png') no-repeat 0px 0px ;
  background-size: 12px 12px;
}
/* 列表集 */
.syh-lists>li{
  height: 24px;
  padding: 6px 0px;
  padding-right: 15px;
  line-height: 24px;
  cursor: pointer;
}
.syh-lists>li>i{
  float: right;
}
.syh-lists>li:hover{
  color: #00c1de;
}
.syh-top-border{
  border-top: 1px solid #383c3f;
  margin-top: 10px;
  padding-top: 20px !important;
}
.syh-bottom-list{
  position: absolute;
  bottom: 30px;
  left: 15px;
  cursor: cell !important;
}
.syh-bottom-list::after{
  content: '';
  background: none !important;
}
.syh-list:hover{
  background-color: #00c2de;
}
.syh-logo{
  width: 109px;
  height: 50px;
  float: left;
  position: relative;
  background: url(../../images/Common/aliyun-logo.png) no-repeat 12px 14px;
  background-size: 83px 19px;
  cursor: pointer;
}
.syh-yd{
  position: absolute;
  top: 18px;
  left: 18px;
  width: 20px;
  height: 11px;
  box-sizing: border-box;
  background: url(../../images/Common/togo-animate.gif) no-repeat -6px -3.5px;
  background-size: 84px 20px;
}
.syh-right{
  width: 800px;
  height: 50px;
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}
.syh-guoj{
  position: relative;
  margin-right: 0px !important;
  width: 77px;
  padding-left: 13px;
}
.syh-guoj:hover{
  background-color: #272b2f;
}
.syh-guoj:hover>.aa{
  transform: rotate(-90deg);
  top: 18px;
}
.aa{
  position: absolute;
  right: 10px;
  top: 13px;
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  padding: 0px;
  margin: 0px;
  text-align: center;
  line-height: 20px;
}
.syh-gwc{
  width: 60px;
  padding-left: 25px;
  background: url("../../images/Common/syh-gwc.png") no-repeat 0px 16px;
  background-size: 20px;
  text-align: center;
}
.syh-right>*{
  float: right;
  line-height: 50px;
  color: white;
  margin: 0px 10px;
  font-family: '微软雅黑';
}
.syh-sousuo{
  width: 200px;
  height: 50px;
  border: none;
  padding-left: 15px;
  font-size: 13px;
  color: white;
  background-color: rgba(250, 250, 250, 0.15);
  /* transition: all 0.5s; */
  transition-property: width,border;
  transition-duration: 0.5s,0.5s;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-image: url('../../images/Common/syh-sousuo-img.png');
  background-repeat: no-repeat;
  background-position: right 16px top 16px;
  background-size: 16px;
}
.syh-sousuo:hover{
  width: 300px;
  border: 1px solid #00c2de;
  background-color: rgba(250, 250, 250, 0.08);
}
.syh-width-sousuo{
  width: 300px;
  border: 1px solid #00c2de;
  background-color: rgba(250, 250, 250, 0.08);
}
.syh-nav-bottom{
  padding-left: 13px;
  position: relative;
}
.syh-nav-bottom>*{
  display: block;
  float: left;
  padding: 0px 15px;
  color: white;
  font-family: '微软雅黑';
  line-height: 50px;
  cursor: pointer;
}
.syh-zc-button{
  float: right;
  width: 120px;
  padding: 0px;
  text-align: center;
  background-color: #00c2de;
  font-size: 14px;
}
.syh-zc-button:hover{
  background-color: #28d0e9;
}
/* tab切换区域 */
.syh-list-xiala{
  /* 子绝父相 */
  position: relative;
}
.syh-tab{
  position: absolute;
  top: 50px;
  /* 向左移动隐藏 */
  left: -1020px;
  width: 1020px;
  height: 890px;
  background-color: #303538;
  box-sizing: border-box;
  z-index: 9;
  transition: left 0.5s;
}
.syh-tab>div{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 9;
  padding-left: 20px;
  padding-right: 0px;
  box-sizing: border-box;
}
.syh-tab-active{
  display: block !important;
}
.syh-list-common{
  float: left;
  width: 200px;
  box-sizing: border-box;
}
.syh-list-common>h3{
  margin-top: 20px;
  width: 180px;
  height: 37px;
  line-height: 32px;
  border-bottom: 1px solid #4f5254;
  margin-bottom: 5px;
  color: white;
}
.syh-list-common>ul>li{
  height: 26px;
  line-height: 26px;
}
.syh-list-common>ul>li>span{
  font-weight: bold;
  color: #f45428;
  font-size: 12px;
  float: left;
  padding-left: 8px;
}
.syh-list-common>ul>li>a{
  float: left;
  display: block;
  font-size: 12px;
}
/* 地区下拉列表 */
.syh-guoj:hover>.syh-zg-list{
  display: block;
}
.syh-zg-list{
  position: absolute;
  top: 49px;
  left: 0px;
  width: 208px;
  height: 550px;
  background-color: #272b2f;
  box-sizing: border-box;
  padding-top: 10px;
  display: none;
}
.syh-zg-list>ul>li{
  height: 36px;
  line-height: 36px;
  color: white;
  padding: 0px 15px 0px 20px;
}
.syh-zg-list>ul>li>a{
  display: block;
  overflow: hidden;
}
.syh-zg-list>ul>li>a>.left{
  float: left;
}
.syh-zg-list>ul>li>a>.right{
  float: right;
  width: 58px;
  text-align: left;
}
.syh-dq-list-top-border{
  border-top: 1px solid#373d41;
  margin-top: 10px;
  padding-top: 10px;
}
/* 导航栏底部的tab切换 */
.syh-navBottom-list{
  position: absolute;
  top: 50px;
  left: 27px;
  background: white;
  width: 1100px;
  height: 680px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 1px #cccccc;
  transition: width 0.4s;
  display: none;
}
.syh-navBottom-list:hover{
  display: block !important;
}
.syh-nav-active>a{
  color: #00c1de;
}
.syh-nav-active::after{
  content: '';
  position: relative;
  top: -4px;
  margin: auto auto;
  margin-top: 0px;
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background-color: white;
}
/* 统一黑色 */
.syh-navBottom-list *{
  color: black !important;
  /* #f2f4f5  #eff3f5*/
}
.syh-navBottom-list li>span{
  color: #f45428 !important;
}
.syh-navBottom-list .syh-list-common{
  width: 199px;
  margin-right: 20px;
}
.syh-navBottom-list .syh-list-common:last-child{
  margin-right: 0px;
}
.syh-navBottom-list .syh-list-common>h3{
  width: 170px;
  border-bottom: 1px solid #eff3f5;
}
.syh-navBottom-list li:hover{
  background-color: #f2f4f5;
}
.syh-navBottom-list>div{
  position: absolute;
  top: 10px;
  left: 25px;
  display: none;
}
.syh-nav-block{
  display: block !important;
}
/* 右侧的固定栏 */
.syh-right-fixd{
  width: 44px;
  height: 128px;
  background: #33cde5;
  box-sizing: border-box;
  position: fixed;
  bottom: 280px;
  right: 15px;
  cursor: pointer;
  z-index: 10;
}
.syh-right-fixd>span{
  width: 14px;
  height: 85px;
  font-size: 14px;
  display: block;
  margin: 0px auto;
  color: white;
  font-family: '微软雅黑';
  text-align: center;
}
.syh-right-fixd-topImg{
  width: 28px;
  height: 19px;
  background: url("../../images/Common/syh-right-fix.png") no-repeat 0px 0px;
  background-size: 28px 19px;
  margin: 10px auto;
}
/* hover 列表 */
.syh-right-fixd-list{
  position: absolute;
  bottom: 0px;
  left: -335px;
  width: 320px;
  height: 224px;
  border: 1px solid #cccccc;
  z-index: 11;
  box-sizing: border-box;
  padding: 20px;
  font-family: '微软雅黑' !important;
  display: none;
  background-color: #ffffff;
}
.syh-right-fixd-list li{
  width: 280px;
  height: 48px;
  margin-bottom: 20px;
}
.syh-right-fixd-list li>i{
  display: block;
  width: 24px;
  height: 25px;
  margin: 11px 0px;
  margin-right: 11px;
  float: left;
}
i.one{
  background: url("../../images/Common/syh-dianh.png") no-repeat 0px 0px;
  background-size: 24px 25px;
}
i.tow{
  background: url("../../images/Common/syh-toux.png") no-repeat 0px 0px;
  background-size: 24px 25px;
}
i.three{
  background: url("../../images/Common/syh-zhuy.png") no-repeat 0px 0px;
  background-size: 24px 25px;
}
.syh-right-fixd-list li>div>a{
  display: block;
  color: #373d41;
  font-size: 14px;
  transition: color 0.3s;
}
.syh-right-fixd-list li>div{
  font-size: 12px;
  float: left;
  color: #9b9ea0;
  line-height: 25px;
}
.syh-right-fixd-list li>div:hover>a{
  color: #00c1de;
}
.one-span{
  color: #FF8A00;
}
.xiaocha{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  background: url("../../images/Common/syh-xiaocha.png") no-repeat 0px 0px;
  background-size: 14px 14px;
}
/* 资讯结束 */
/* 回到顶部 */
.syh-maoDian{
  width: 44px;
  height: 44px;
  background: url('../../images/Common/syh-huiTop.png') no-repeat 0px 0px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  background-size: 44px 44px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 2px 5px 0px #cccccc;
}