.column-dn-main1{
  width: 1180px;
  height: 440px;
  margin-bottom: 20px;
}
.column-dn-main1-left{
  float: left;
  width: 380px;
  height: 440px;
  background-image: url(../../images/Syy/zi-2.jpg);
  padding-top:40px;
  padding-left: 30px; 
  box-sizing: border-box;
}
.column-dn-main1-right{
  float: left;
  width: 785px;
  height: 440px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
}
.column-dn-main1-left h5{
  color: #fefefe;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 35px;
    font-weight: 600;
}
.column-dn-main1-left>p{
  color: #fefefe;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.column-dn-main1 h6{
  color: #373d41;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    font-weight: 300;
    padding-top: 26px;
}
.column-dn-main1-right ul{
  border-bottom: 4px solid #e4e4e4;
    height: 155px;
    text-align: center;
}
.column-dn-main1-right li{
  width: 25%;
    height: 120px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.column-dn-main1-right img{
  height: 100px;
  margin-top: 15px;
}
.lines1{
  position: absolute;
    left: 20px;
    right: 20px;
    bottom: -39px;
    height: 4px;
    background: #00c1de;
}
.lines1:first-child{
  display: none;
}
.table2{
  margin-top: 30px;
  margin-left: 34px;
  position: absolute;
 display: none;
}
.table2 p{
  color: #73777a;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 16px;
}
.table2>span{
  display: inline-block;
  width: 640px;
  line-height:20px;
  margin-top: 5px;
  color: #73777a;
}
.table2>a{
  display: inline-block;
  margin-top: 28px;
  color: #fff;
  width: 117px;
  height: 32px;
    font-size: 12px;
    line-height: 30px;
    background-color: #00c1de;
    text-align: center;
}
