

/* $  $,     ,
//                                        "ss.$ss. .s’
//                                ,     .ss$$$$$$$$$$s,
//                                $. s$$$$$$$$$$$$$$`$$Ss
//                                "$$$$$$$$$$$$$$$$$$o$$$       ,
//                               s$$$$$$$$$$$$$$$$$$$$$$$$s,  ,s
//                              s$$$$$$$$$"$$$$$$""""$$$$$$"$$$$$,
//                              s$$$$$$$$$$s""$$$$ssssss"$$$$$$$$”
//                             s$$$$$$$$$$'         `"""ss"$"$s"”
//                             s$$$$$$$$$$,              `"""""$  .s$$s
//                             s$$$$$$$$$$$$s,...               `s$$'  `
//                         `ssss$$$$$$$$$$$$$$$$$$$$####s.     .$$"$.   , s-
//                           `""""$$$$$$$$$$$$$$$$$$$$#####$$$$$$"     $.$’
//                                 "$$$$$$$$$$$$$$$$$$$$$####s""     .$$$|
//                                  "$$$$$$$$$$$$$$$$$$$$$$$$##s    .$$" $
//                                   $$""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"   `
//                                  $$"  "$"$$$$$$$$$$$$$$$$$$$$S""""’
//                             ,   ,"     '  $$$$$$$$$$$$$$$$####s
//                             $.          .s$$$$$$$$$$$$$$$$$####”
//                 ,           "$s.   ..ssS$$$$$$$$$$$$$$$$$$$####”
//                 $           .$$$S$$$$$$$$$$$$$$$$$$$$$$$$#####”
//                 Ss     ..sS$$$$$$$$$$$$$$$$$$$$$$$$$$$######"”
//                  "$$sS$$$$$$$$$$$$$$$$$$$$$$$$$$$########”
//           ,      s$$$$$$$$$$$$$$$$$$$$$$$$#########""’
//           $    s$$$$$$$$$$$$$$$$$$$$$#######""'      s'         ,
//           $$..$$$$$$$$$$$$$$$$$$######"'       ....,$$....    ,$
//            "$$$$$$$$$$$$$$$######"' ,     .sS$$$$$$$$$$$$$$$$s$$
//              $$$$$$$$$$$$#####"     $, .s$$$$$$$$$$$$$$$$$$$$$$$$s.
//   )          $$$$$$$$$$$#####'        `$$$$$$$$$###########$$$$$$$$$$$.
//  ((          $$$$$$$$$$$#####       $$$$$$$$###"       "####$$$$$$$$$$
//  ) \         $$$$$$$$$$$$####.     $$$$$$###"             "###$$$$$$$$$   s’
// (   )        $$$$$$$$$$$$$####.   $$$$$###"                ####$$$$$$$$s$$’
// )  ( (       $$"$$$$$$$$$$$#####.$$$$$###'                .###$$$$$$$$$$”
// (  )  )   _,$"   $$$$$$$$$$$$######.$$##'                .###$$$$$$$$$$
// ) (  ( \.         "$$$$$$$$$$$$$#######,,,.          ..####$$$$$$$$$$$”
//(   )$ )  )        ,$$$$$$$$$$$$$$$$$$####################$$$$$$$$$$$”
//(   ($$  ( \     _sS"  `"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$S$$,
// )  )$$$s ) )  .      .   `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"'  `$$
//  (   $$$Ss/  .$,    .$,,s$$$$$$##S$$$$$$$$$$$$$$$$$$$$$$$$S""        ‘
//    \)_$$$$$$$$$$$$$$$$$$$$$$$##"  $$        `$$.        `$$.
//        `"S$$$$$$$$$$$$$$$$$#"      $          `$          `$
//            `"""""""""""""'         '           '           ' */
/*       
                Shenlong bless      code does not appear BUG                       
                        神龙保佑,代码不出BUG */
/* 轮播图 */

.lunbotu{
    position: relative;
    width: 100%;
    height: 640px;
    background: #494b52;
    overflow: hidden;
}
/* 轮播图公共区域 */
.index-lunbo{
    position: relative;
    height: 640px;
    width: 1920px;
    background: #494b52;
    margin: 0 auto;
}
/* 给五个图片添加样式 */
.index-lunbo>div{
    display: none;
     position: absolute;
    top: 97px;
    left: 0px;
    transition: top 1s;
}
/* 切换图片时的遮罩效果 */
.zhezhao{
    height: 510px;
    width: 100%;
    background: #494b52;
    position: absolute;
    z-index: 20;
    opacity: 0.8;
    top: 0px;
}
/* 轮播图第一部分 */
.index-lunbo .index-lunbo-centent-one{
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 1s;
}

/* .index-lunbo-centent-one a {
    display: block;
    position: absolute;
    top: 97px;
    transition: top 1s;
} */

.index-lunbo-centent-one a{
    display: block;
}
/* 轮播图图片 */
.index-lunbo img{
    width: 100%;
    height: 100%;
}
/* 轮播图内动态图片 */
.index-lunbo-centent-one-image-two{
    position: absolute;
    top: 0px;
    opacity: 1;
}
/* 轮播图底部指示器总体 */
.index-lunbo-click{
    width: 250px;
    height: 4px;
    position: absolute;
    bottom: 144px;
    left: 822px;
    cursor: pointer;
}
/* 包含轮播图底部指示器 */
.index-lunbo-click li{
    float: left;
    width: 40px;
    height: 4px;
    background: #46494e;
    margin-right: 10px;
  
}
/* 各个轮播图底部指示器设置样式 */
.index-lunbo-click li span{
    display: block;
    background-color:#ffffff;
    width: 0px;
    height: 100%;
}

/* 轮播图左侧导航 */
.index-lunbo-left-header{
    font-weight:bold;
    height: 310px;
    /* background: red; */
    position: absolute;
    top: 196px;
    left: 352px;
}
/* 轮播图左侧导航  标题部分*/
.index-lunbo-left-header h1{
margin-bottom: 12px;
    font-size: 40px;
}
/* 轮播图左侧导航  p标签部分 */
.index-lunbo-left-header p{

    font-size: 20px;
    line-height: 36px;
}
/* 轮播图左侧导航  跳转按钮部分*/
.index-lunbo-left-btn{
    float: left;
    font-weight: bold;
    color: #f3f4f4;
    margin-top: 40px;
    height: 36px;
    line-height: 20px;
    font-size: 20px;
     background: transparent;
     border: none;
     border-bottom: 3px solid #00c1de;
}
/* 轮播图左侧导航  跳转按钮内的箭头部分*/
.index-lunbo-left-btn-image{
    margin-left: 6px;
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    border: none;
    background-size: 22px 22px;
    background-image: url(../../images/Xzs/arrow-right-white.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
/* 轮播图底部导航 */
.index-lunbo-lianjie{
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    background: #393b43;
    /* background: yellowgreen; */
}
/* 公共区域 */
.index-lunbo-lianjie-ul{
     width: 1200px;
     height: 136px;
     margin: 0 auto;
}
/* 底部导航的各个部分 */
.index-lunbo-lianjie-ul li{
    width: 240px;
    height: 136px;
    float: left;
    border-left: 1px solid #45474d;
    box-sizing: border-box;
    padding: 30px 26px 24px;
    transition: all .3s;
    } 
/* 鼠标移入改变背景颜色 */
    .index-lunbo-lianjie-ul li:hover{
        background: #42454c;
    }
    .index-lunbo-lianjie-ul li a{
        display: block;
    }
    /* 给最后一个加右边框 */
.index-lunbo-lianjie-ul li:last-child{
        border-right: 1px solid #45474d;
    }
/* 给底部导航标题添加属性 */
.index-lunbo-lianjie-ul li h2{
        font-size: 16px;
        margin-bottom: 8px;
        height: 18px;
        font-weight: bolder;
    }
/* 给底部导航内容添加属性 */
.index-lunbo-lianjie-ul li p{
        width:187px;
        color: #abacaf;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        /* font-family: inherit!important; */
    }
    /* 给body添加字体样式 */
    /* body{
        font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;

    } */
    /* .index-product-hide-center{ */
        /* transition: all 1s; */
    /* } */
/* 清除浮动 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.common{
    width: 1200px;
    margin: 0 auto;
}
/* 产品部分图片五环 */
.index-product-image{
    display: block;
    width: 130px;
    margin: 32px auto 24px;
}
/* 产品部分主标题 */
.index-product-title-top{
font-size: 24px;
text-align: center;
line-height: 36px;
color: #373d41;
}
/* 产品部分副标题 */
.index-product-title-bottom{
    text-align: center;
    font-size: 16px;
    margin: 8px 0 42px;
    display: block;
    color: #373d41;
}
/* 给产品部分副部分添加鼠标移入事件 */
.index-product-title-bottom:hover{
    color: #00c1de;
}
/* 产品内容 */
/* .index-product-center{
    /* width:1200px; */
    /* margin: 0 auto; */
/* }  */
/* 产品内容第一行 */

/* 点击图标 */
.index-product-center-one-title{
    width: 1200px;
    margin: 0 auto;
    height: 131px;
}
.index-product-center-two-title{
    width: 1200px;
    margin: 0 auto;
    height: 131px;
}
.index-product-center-three-title{
    width: 1200px;
    margin: 0 auto;
    height: 131px;
}
.index-product-center-four-title{
    width: 1200px;
    margin: 0 auto;
    height: 131px;
}
/* 给所有点击图标设置默认样式 */
.index-product-center-one-title-one,.index-product-center-one-title-two,.index-product-center-one-title-three,.index-product-center-one-title-four,.index-product-center-one-title-five{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 39px;
    float: left;
}
.index-product-center-two-title-one,.index-product-center-two-title-two,.index-product-center-two-title-three,.index-product-center-two-title-four,.index-product-center-two-title-five{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 39px;
    float: left;
}
.index-product-center-three-title-one,.index-product-center-three-title-two,.index-product-center-three-title-three,.index-product-center-three-title-four,.index-product-center-three-title-five{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 39px;
    float: left;
}
.index-product-center-four-title-one,.index-product-center-four-title-two,.index-product-center-four-title-three,.index-product-center-four-title-four,.index-product-center-four-title-five{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 39px;
    float: left;
}
/* 设置点击图标内的a标签的默认样式 */
.index-product-center-one-title>li>a{
    display: block;
    color: #373d41;
}
.index-product-center-two-title>li>a{
    display: block;
    color: #373d41;
}
.index-product-center-three-title>li>a{
    display: block;
    color: #373d41;
}
.index-product-center-four-title>li>a{
    display: block;
    color: #373d41;
}
/* * p标签属性 */ 
.index-product-center-one-title>li>a>p{
    text-align: center;
    font-size: 14px;
}
.index-product-center-two-title>li>a>p{
    text-align: center;
    font-size: 14px;
}
.index-product-center-three-title>li>a>p{
    text-align: center;
    font-size: 14px;
}
.index-product-center-four-title>li>a>p{
    text-align: center;
    font-size: 14px;
}
/* tab切换点击图标设置默认样式 */
/* 第一行第一个 */
.index-product-center-one-title-one .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1fk0RQVXXXXajXVXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第二个 */
.index-product-center-one-title-two .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1oCR6QVXXXXXXXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第一行第三个 */
.index-product-center-one-title-three .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1kZRHQVXXXXX.aXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第一行第四个 */
.index-product-center-one-title-four .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1UeN.QVXXXXX1XFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第一行第五个 */
.index-product-center-one-title-five .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1Qr4RQVXXXXbvXVXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}

/* 第二行第一个 */
.index-product-center-two-title-one .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1EnOXQVXXXXcUXpXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第二行第二个 */
.index-product-center-two-title-two .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1txh6QVXXXXaVXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第二行第三个 */
.index-product-center-two-title-three .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1XYlAQVXXXXc1aXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第二行第四个 */
.index-product-center-two-title-four .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB15q1mQVXXXXc6XXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第二行第五个 */
.index-product-center-two-title-five .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1JomaQVXXXXaMXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行第三行 */
/* 第三行第一个 */
.index-product-center-three-title-one .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1ylFIQVXXXXXSaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第三行第二个 */
.index-product-center-three-title-two .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1FmxFQVXXXXbjaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第三行第三个 */
.index-product-center-three-title-three .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1xQKXQVXXXXcKXpXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第三行第四个 */
.index-product-center-three-title-four .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1OalFQVXXXXaIaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第三行第五个 */
.index-product-center-three-title-five .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB12iJnQVXXXXaoXVXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第四行第四行第四行第四行第四行第四行第四行第四行第四行 */
/* tab切换点击图标设置点击后样式 */
/* 第四行第一个 */
.index-product-center-four-title-one .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1zCFIQVXXXXcKXVXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第四行第二个 */
.index-product-center-four-title-two .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1GBxKQVXXXXXTaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第四行第三个 */
.index-product-center-four-title-three .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1HFw4SFXXXXctaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第四行第四个 */
.index-product-center-four-title-four .product{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1NACtQVXXXXXlXpXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
      box-sizing: border-box;
}
/* 第一行第一个 */
.index-product-center-one-title-one .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1XhNOQVXXXXXcaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第二个 */
 .index-product-center-one-title-two .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1s_xUQVXXXXXiXVXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第三个 */
 .index-product-center-one-title-three .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1AO1pQVXXXXX6XXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第四个 */
 .index-product-center-one-title-four .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1hCRYQVXXXXa7XFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }
/* 第一行第五个 */
 .index-product-center-one-title-five .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1Y.p7QVXXXXXHXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }

 /* 第二行第一个 */
.index-product-center-two-title-one .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1kFSaQVXXXXXmXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第二行第二个 */
 .index-product-center-two-title-two .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1ikp1QVXXXXcHXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第二行第三个 */
 .index-product-center-two-title-three .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1m95cQVXXXXcSXpXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第二行第四个 */
 .index-product-center-two-title-four .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1ZiR8QVXXXXacXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }
/* 第二行第五个 */
 .index-product-center-two-title-five .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1_60pQVXXXXXKaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }

 /* 第三行第一个 */
.index-product-center-three-title-one .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1y59cQVXXXXbGXpXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第三行第二个 */
 .index-product-center-three-title-two .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1lnJDQVXXXXcjaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第三行第三个 */
 .index-product-center-three-title-three .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1k4tIQVXXXXcMXVXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第三行第四个 */
 .index-product-center-three-title-four .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1Ft86QVXXXXaBXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }
/* 第三行第五个 */
 .index-product-center-three-title-five .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1i3iyQVXXXXXoXXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }
 .index-product-center-four-title-one .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1gWanQVXXXXcEXXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第二个 */
 .index-product-center-four-title-two .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1GkFHQVXXXXaTaXXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第三个 */
 .index-product-center-four-title-three .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB1JcU4SFXXXXbCapXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* 第一行第四个 */
 .index-product-center-four-title-four .products{
    width: 80px;
    height: 80px;
    margin: auto;
    background-image: url(../../images/Xzs/TB18XOXQVXXXXbzXFXXXXXXXXXX-160-160.png);
    background-repeat: no-repeat;
    background-size: contain;
 }
 .product-hot-item{
    width: 350px;
    margin-bottom: 42px;
    cursor: pointer;
 }

/* 鼠标移入字体变色 */
.index-product-center>div>ul>li>a:hover{
    color: #00c1de !important;
}
.products+p{
    color: #00c1de !important;
}
/* 隐藏的div的属性 */
.index-product-hide-center{
    background: #f5f5f6;
    width: 100%;
    overflow: hidden;
}
/* 给隐藏div第一部分添加属性 */
.product-hot-box{
    width: 32.5%;
    height: 360px;
    float: left;
    position: relative;
}
/* 点击图标所对应的隐藏div默认属性 */
/* 第一行第一个 */
.product-center{
    /* background: #f5f5f6; */
    width: 1200px;
    height: 0px;
    margin: 0 auto;
    /* height: 400px; */
    /* display: none; */
    /* padding-top: 20px; */
    overflow: hidden;
    /* transition: all 1s; */
}
.product-center::before{
    content: "";
    height: 20px;
    display: block
}
/* .products-center::before{
    content: "";
    height: 20px;
    display: block
} */
.product-center:after {
    content: "";
    height: 20px;
    display: block;
    float: left;
    width: 100%;
}
/* .products-center:after {
    content: "";
    height: 20px;
    display: block;
    float: left;
    width: 100%;
} */
/* 第一行第二个 */

/* 点击图标所对应的隐藏div的点击后属性 */
/* 第一行第一个 */
/* .products-center{
    /* background: #f5f5f6; */
    /* width: 1200px; */
    /* margin: 0 auto; */
    /* height: auto; */
    /* display: block; */
    /* padding-top: 20px; */
    /* transition: all 1s; */
 /* }  */
/* 第一行第二个 */

/* 隐藏div内的第一部分顶部的属性设置 */
.product-hot-item-name{
    font-size: 18px;
    color: #373d41;
    line-height: 24px;
    margin-top: 12px;
    transition: all .3s;
    font-weight: bolder;
    font-family: "微软雅黑"; 
    position: relative;
}
/* 给包含h1的a标签设置默认属性 */
.product-hot-item-wrap{
    display: block;
}
/* 给hot标签设置属性 */
.product-hot-item-name>img{
  width: 26px;
  vertical-align: 1px;
}
/* 给颖仓div内紧随标题的p标签设置属性 */
.product-hot-item-describe{
    font-size: 12px;
    color: #9b9ea0;
    line-height: 18px;
    margin-top: 8px;
    font-family: "微软雅黑";
}
/* 鼠标移入div标题变色 */
.product-hot-item-wrap:hover .product-hot-item-name{
    color: #00c1de;
}

/* 给立即购买按钮设置默认属性 */
.product-hot-item-btn{
    display: block;
    width: 96px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #373d41;
    font-size: 12px;
    color: #373d41;
    text-align: center;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ;
    font-family: "微软雅黑";
}
/* 鼠标移入立即购买按钮他本身变色 */
.product-hot-item-btn:hover{
    color: #00c1de;
    border-color: #00c1de;
}
/* 隐藏div内第一部分底部属性设置 */
/* .product-center-one-one-one-bottom{
    width: 350px;
    margin-bottom: 42px;
    cursor: pointer;
} */

.product-normal-box{
    float: left;
    width: 33.5%;
}
.product-name-item-name{
    font-size: 14px;
    color: #373d41;
    line-height: 24px;
}
.product-name-item-name img{
    width: 26px;
}
.product-name-item{
    width: 374px;
    height: 72px;
    padding: 12px 20px;
    margin-left: 0;
    margin-right: 32px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ;
    font-family: "微软雅黑";
}
.product-name-item:hover{
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
}
.product-name-item:hover .iconfont{
    opacity: 1;
}
.product-name-item-describe{
    font-size: 12px;
    color: #9b9ea0;
    line-height: 24px;
}
    .iconfont{
        opacity: 0;
        position: absolute;
        right: 12px;
        top: 30px;
        transition: all .3s ;
        font-weight: 100;
        color: #373d41;
    }

.product-show-more{
    width: 120px;
    height: 36px;
    line-height: 36px;
    margin: 35px auto 40px;
    text-align: center;
    font-size: 14px;
    color: #373d41;
    border: 1px solid #373d41;
    cursor: pointer;
    }
    .product-hide-more{
        display: none;
        /* height: 0px; */
        /* transition: all 1s; */
        overflow: hidden;
    }
    .product-show-more:hover{
        color: #00c1de;
        border: 1px solid #00c1de
    }






/* =========================华丽的分割线========================= */
.lunbo-box{
    width: 100%;
    height: 420px;
    background-color: #373d41;
}
.box-btn{
    position: relative;
    width: 1440px;
    height: 420px;
    margin: 0px auto;
}
.lunbo-box>.box-btn>button{
    position: absolute;
    top: 0px;
    height: 420px;
    width: 50px;
    background: transparent;
    border: none;
    font-size: 50px;
    font-weight: bold;
    z-index: 10;
    /* opacity: 0; */
    transition: background 0.5s;
    opacity: 0.2;
}
.lunbo-box>.box-btn:hover>button{
    /* opacity: 0.7; */
    background: #0b0f12;
}
.lunbo-left{
    left: 0px;
}
.lunbo-right{
    right: 0px;
}
.lunbo-img{
    
}
